.chatbot_ads{
    width:100%;
    height: 400px;
    background-color: #FEFAE0;
    margin: 0 auto;

}
.chatbot_ads .adsimg{
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 100%;
    background-image: url(../image/ads/chatbot_ads.svg);
    position: relative;
}

.chatbot_ads .adsimg .adsimg_1{
    position: absolute;
    width:515px;
    height: 230px;
    top:77px;
    left:350px;

}

