.header {
    height: 150px;
    width: 1060px;
    background-color: white;
    
    margin: 0 auto;
    margin-top:5px;
    display: flex;
    position: relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none


}

.logo{
  position: absolute;
 width:200px;
 height:40px;
 left: 160px;
margin: 0 auto;
margin-top: 55PX;
}

.item{
  width: 240px;
  margin: 0 auto;
  display: flex;
  padding-top: 74px;
  height: 20px;
  padding-left: 20px;
  
}
.book_deal{
 font-size: 20px;
 width: 80px;

}
.search_bookstore{
  margin-left: 58px;
  font-size: 20px;

}
.header .item .item_inner{
  position: relative;
}
.header .item .item_inner:hover
{
}
.header .item .item_inner .item__contents{
  width: 680px;
  z-index: 10;
  position: absolute;
  left: -260px;
  height: 0px;
  overflow: hidden;
  background-color: white;
  transition: height 2s, 0.5s;
}
.item__contents .booksearch{
  position: absolute;
  border: solid #586C4C;
  top:90px;
  left: 60px;
  width: 214px;
  height: 45px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 40px;
}

.item__contents .booksearch:hover{
  position: absolute;
  border: solid #6C584C;
  background-color: #6C584C;
  color: white;
}

.item__contents .bookinput{
  position: absolute;
  border: solid #586C4C;
  top:30px;
  top:90px;
  right: 102px;
  width: 214px;
  height: 45px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 40px;
 
}

.item__contents .bookinput:hover{
  position: absolute;
  border: solid #6C584C;
  background-color: #6C584C;
  color: white;
}
.item__contents .mark{
  position: absolute;
  top:15px;
  left:240px
  

}

.header .item .item_inner:hover .item__contents{
  height:235px;
}
/********************로그인 기능(로그인 기능 완성시 컴포넌트화 시킬 예정)************************/

/***********************헤더메뉴*********************/


/***************메뉴******************/
